# Python 3.11.6

attrs==23.1.0
beautifulsoup4==4.12.2
bertopic==0.15.0
black[jupyter]==23.10.1
certifi==2023.7.22
charset-normalizer==3.3.2
configparser==6.0.0
gitdb==4.0.11
GitPython==3.1.40
idna==3.4
ipywidgets==8.1.1
isort==5.12.0
jsonlines==4.0.0
matplotlib==3.8.1
notebook==7.0.6
pandas==2.1.2
pip==23.3.1
plotly==5.18.0
praw==7.7.1
pyarrow==14.0.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
setuptools==68.2.2
six==1.16.0
smmap==5.0.1
transformers==4.35.0
tqdm==4.66.1
urllib3==2.0.7
wheel==0.41.3
wikiextractor==3.0.6
wordcloud==1.9.2

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0
torchvision==0.16.0
